@import url('https://fonts.googleapis.com/css?family=Cousine'); /*Yisrael Pechman 200552560*/
@font-face {
    font-family: emono;
    src: url("./web-hebrew-font/ArialMonospace.ttf");
}

body {
    font-family: Arial, sans-serif;
}

.cancel-pre-font {
    font-family: inherit;
    direction: ltr;
}

.custom-pre-style {
    display: block;
    unicode-bidi: embed;
    font-family: monospace, Cousine;
    white-space: pre;
    direction: ltr;
}

.sidebar-outer {
    /*position: fixed;*/
    /*z-index: 1000;*/
    /*display: flex;*/
    /*overflow-x: hidden;*/
    /*background-color: #d4edda;*/
    overflow-y: auto;
    top: 50px;
    bottom: 0;
    /*height: 100%;*/
    /*margin-top: 50px;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*!*left: 0;*!*/
    /*right: auto;*/
    /*direction: rtl;*/
    /*text-align: right;*/
    /*border-collapse: collapse;*/

}

.main-content-area{
    margin-top: 50px;
}

.main-article {
    /*
    margin-right: 160px;
    padding-right: 10px;
    */
    /*width: 500px;*/
}
